certifi>=2019.9.11
dill>=0.3.1.1
multiprocess>=0.70.9
numpy>=1.17.3
pandas>=0.25.2
pathos>=0.2.5
pox>=0.2.7
ppft>=1.6.6.1
python-dateutil>=2.8.0
pytz>=2019.3
scipy>=1.3.1
six>=1.12.0
wincertstore>=0.2
xlrd>=1.2.0
matplotlib>=3.1.1
cython>=0.29.13
flask>=1.1.1