<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>libRL.app</title>
    <!-- CSS -->
    <link rel= 'stylesheet' type= 'text/css' href='{{ url_for("static",filename="styles/main.css") }}'>
  </head>

  <body class='grid'>
    <div class='hdr'>
      <a class='hdr-title'>libRL.app</a>
      <a class='hdr-tag'>A Python library for the characterization of Microwave Absorption<br>Built on Flask</a>
    </div>
    <div class='ftr'>
      <a class="btn btn-custom-1" href="/reflection_loss">Reflection Loss</a>
      <a class="btn btn-custom-1" href="/effective_bandwidth">Effective Bandwidth</a>
      <a class="btn btn-custom-1" href="/characterization">Characterization</a>
    </div>          
  </body>
</html>