<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>libRL.app</title>
    <!-- CSS -->
    <link rel= 'stylesheet' type= 'text/css' href='{{ url_for("static",filename="styles/main.css") }}'>
  </head>

  <body class='grid'>
    <div class='hdr'>
      <a class='hdr-title'>libRL.app</a>
      <a class='hdr-tag'>A Python library for the characterization of Microwave Absorption<br>Built on Flask/Chromium </a>
    </div>
    <form class='ctr' method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="ctr-lft">
        {{ form.file_input }}
        <div class="ctr-lft-lft">
          {{ form.frequency.label }} <br>
          {{ form.thickness.label }} <br>
          {{ form.save_location.label }} <br><br>
          {{ form.submit }}
        </div>
        <div class="ctr-lft-rgt">
        {{ form.frequency }} <br>
        {{ form.thickness }} <br>
        {{ form.save_location(rows=3, multiple=True) }} <br>
        </div>
      </div>
      <div class="ctr-rgt">
        <h4 style='margin-bottom: -5px;'>Options</h4>
        <div class="ctr-rgt-lft">
        {{ form.override.label }} {{ form.override(style="list-style:none; margin-bottom:-10px;") }} <br>
        {{ form.interp.label }} {{ form.interp(style="list-style:none; margin-bottom:50px;") }}
        </div>
        <div class="ctr-rgt-rgt">
        {{ form.graph.label }} {{ form.graph }} <br>
        {{ form.multi.label }} {{ form.multi }}
        </div>
      </div>
    </form>
    <div class='ftr'>
      <a class="btn btn-custom-1" href="/reflection_loss">Reflection Loss</a>
      <a class="btn btn-custom-1" href="/characterization">Characterization</a>
      <a class="btn btn-custom-1" href="/bandwidth">Bandwidth</a>
    </div>          
  </body>
</html>